header > .header.logo {
    margin-top: -100px;
    transition: transform 1s;

    transform: translate(0, 100px);
}

header > .header.userInfo {
    margin-top: -200px;
    transition: transform 1s;

    transform: translate(0, 100px);

}

.wrapper {
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.main,
.fake {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}


.fake {
    background-color: #fff;
    color: black;
    overflow: hidden;
}

.fake.contacts,
.fake.php {
    overflow-x: hidden;
    overflow-y: scroll;
}

.wrapper:hover .flip-card-inner {
    transform: rotateX(180deg);
}

.fake {
    transform: rotateX(180deg);
}

.fake.php,
.fake.java,
.fake.blog,
.fake.contacts,
.fake.qa {
    transform: rotateY(180deg);
}

.wrapper.php:hover .flip-card-inner,
.wrapper.java:hover .flip-card-inner,
.wrapper.blog:hover .flip-card-inner,
.wrapper.contacts:hover .flip-card-inner,
.wrapper.qa:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.fake.contacts .hidden{
    display: flex;
    justify-content: space-around;
}

.fake.contacts .hidden img{
    height: 40px;
    width: 40px;
    opacity: 0.8;
}

.fake.contacts .hidden img:hover{
    cursor: pointer;
    opacity: 1;
}
