/*Grid MarkUp*/

div.cards {
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(16, 1fr);
}

div.bigLogo {
    grid-area: 1/1/11/5;
}

div.qa {
    grid-area: 11/1/22/5;
}

div.js {
    grid-area: 1/5/17/9;
}

div.java {
    grid-area: 17/5/22/9;
}

div.php {
    grid-area: 1/9/9/17;
}

div.net {
    grid-area: 9/9/22/14;
}

div.events {
    grid-area: 9/14/14/17;
}

div.blog {
    grid-area: 14/14/19/17;
}

div.contacts {
    grid-area: 19/14/22/17;
}

/*cards' content on the front side*/
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main.js {
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;

    background: #f6c95f;

    font-size: 6vw;
    font-weight: bold;
    font-family: sans-serif;
}

.main.bigLogo {
    background: #fff;
}

.main.qa {
    background: #48b86c;

    color: #fff;
    font-family: sans-serif;
    font-size: 6vw;
    font-weight: 100;
}

.main.java {
    background: #bb2139;

    color: #fff;
    font-size: 3vw;
    font-family: sans-serif;
    font-weight: 200;
}

.main.php {
    background: #7d88b8;

    font-size: 4vw;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 100;
}

.main.net {
    background: #591e6b;

    color: #fff;
    font-size: 5vw;
    font-family: sans-serif;
}

.main.events {
    background: #298ffe;

    font-size: 1vw;
    color: #fff;
}

.main.blog {
    background: #033a95;

    font-size: 1vw;
    color: #fff;
}

.main.contacts {
    background: #021a44;

    font-size: 1vw;
    color: #fff;
}
