.div {
    display: block;
}

header {
    height: var(--header-height);
}

main {
    height: calc(100% - var(--header-height) * 2);
}

footer {
    height: var(--header-height);
}

main,
footer {
    background: #f5f5f5;
}

body {
    display: flex;
    flex-direction: column;
}

div.cards {
    margin-left: var(--header-margin);
    margin-right: var(--header-margin);
    margin-top: 9vh;
    height: 34vw;
}

footer p {
    text-align: center;
}
