header {
    display: flex;
    justify-content: space-between;
}

img.smallLogo {
    height: 5vh;
    margin-top: 8%;
}

div.userInfo {
    z-index: 10000;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: var(--header-margin);
}

.header.logo {
    margin-left: var(--header-margin);
}

img.notificationIcon {
    height: 4vh;
    margin-right: 10px;
    opacity: 0.7;
}

div.userInfo .h2 {
    background: #ffa500;
    color: #fff;
    padding: 5px 11px;
    border-radius: 50%;
    font-size: 30px;
}

div.userInfo .h2:hover {
    cursor: pointer;
    background: #ff8c00;
}

img.notificationIcon:hover {
    cursor: pointer;
    opacity: 1;
}

.userInfo input {
    display: none;
}

.div.menu {
    display: none;
}

.userInfo input:checked ~ .div.menu {
    display: flex;
}
