@media all and (max-width: 950px) {

    div.cards {
        height: 80%;
        display: grid;
        grid-template-rows: repeat(11, 1fr);
        grid-template-columns: repeat(17, 1fr);
    }

    div.bigLogo {
        grid-area: 1/1/6/9;
    }

    div.qa {
        grid-area: 9/1/12/10;
    }

    div.js {
        grid-area: 1/9/6/15;
    }

    div.java {
        grid-area: 6/1/9/10;

    }

    div.php {
        grid-area: 6/10/9/18;
    }

    div.net {
        grid-area: 9/10/12/18;

    }

    div.events {
        grid-area: 1/15/3/18;
    }

    div.blog {
        grid-area: 3/15/5/18;
    }

    div.contacts {
        grid-area: 5/15/6/18;
    }

    :root {
        --header-margin: 3%;
    }
}
