.notificationBlock {
    z-index: var(--notification-block-z-index);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 200px;

    display: flex;
    flex-direction: column-reverse;
}

.notificationBlock > .message {
    width: 220px;
    height: 80px;
    margin: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.notificationIcon {
    height: var(--nofication-icon-height);
}

.notificationIcon img {
    width: var(--nofication-icon-width);
    height: var(--nofication-icon-height);
    margin: 0 15px;
    filter: brightness(0) invert(1);
}

.notificationText .notificationHeader {
    font-weight: bold;
}

.errorNotification {
    background: rgba(195, 83, 78, 0.8);
}

.successNotification {
    background: rgba(78, 134, 78, 0.8);
}

.warningNotification {
    background: rgba(250, 160, 69, 0.8);
}
