.div.menu {
    width: 200px;
    position: absolute;
    z-index: 100;
    flex-direction: column;
    background: #fff;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    top: 159px;
    right: 7%;
    padding: 10px;

    font-size: 18px;
}

.div.menu .header {
    font-size: 20px;
    color: #808080;
    padding-bottom: 5px;
    border-bottom: solid #808080;
}

.div.menu .additionalInfo {
    margin: 10px 0;
    border-bottom: solid #808080;
}

.div.menu .content:hover {
    cursor: pointer;
    background: #d3d3d3;
}
