:root {
    --header-margin: 10%;
    --nofication-icon-width: 30px;
    --nofication-icon-height: var(--nofication-icon-width);
    --header-height: 7%;

    --notification-z-index: 200;
    --notification-block-z-index: 10;
    --unhovered-card-z-index: 20;
    --hovered-card-z-index: 2;
}
